body {
  background-image: url(../img/fondo.jpg);
  background-position: 80%;
}
#logo {
  padding-left: 3%;
  width: 330px;
  height: 170px;
}
h1 {
  font-family: monospace;
  color: rgb(252, 253, 253);
}

.menu {
  display: flex;
  position: absolute;
  width: 1900px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-top: -1050px;
  margin-left: 100px;
}
.contacto {
  margin-top: -890px;
  margin-left: 285px;
  margin-right: 100px;
  border-radius: 5px;
  background-color: rgb(43, 133, 133);
  padding: 4px 4px;
  opacity: 70%;
}
.menu2 {
  display: flex;
  position: absolute;
  width: 650px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: -508px;
  margin-left: 725px;
}
p {
  font-size: x-large;
  font-family: monospace;
  color: rgb(250, 252, 252);
}
ul li {
  display: inline-block;
  padding: 0px 20px;
}
a {
  text-decoration: none;
  font-size: large;
  color: rgb(225, 243, 243);
  font-family: Haettenschweiler;
}
a:hover {
  background-color: rgb(30, 30, 138);
  margin-top: -1060px;
  border-radius: 10px;
  padding: 4px 4px;
}

.container {
  width: 1920px;
  height: 1080px;
}
.snow {
  background-image: url(../img/snowball.png);
  background-repeat: repeat;
  width: 100%;
  height: 1080px;
  top: 0;
  left: 0;
  position: absolute;
  filter: blur(1.5px);
}
.little {
  background-size: 150px 135px;
  background-position: 0px -100px;
  animation: snow1 14s infinite linear;
}
.normal {
  animation: snow2 12s linear infinite;
}
.big {
  background-size: 600px 540px;
  background-position: 0px 90px;
  animation: snow3 10s linear infinite;
}

@keyframes snow1 {
  0% {
    background-position: 0px -100px;
  }
  100% {
    background-position: 150px 35px;
  }
}
@keyframes snow2 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 300px 270px;
  }
}
@keyframes snow3 {
  0% {
    background-position: 0px 90px;
  }
  100% {
    background-position: 600px 630px;
  }
}
@keyframes snow4 {
  0% {
    background-position: 150px 100px;
  }
  100% {
    background-position: 1050px 910px;
  }
}
.fotomedia {
  margin-left: 30px;
  height: 1000px;
  width: 1280px;
  border-image: auto;
}
.menumedia {
  display: flex;
  position: absolute;
  width: 650px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin-top: -224px;
  margin-left: 725px;
}
.caja0 {
  display: flex;
  width: 990px;
  height: 900px;
}
.caja1 {
  margin-left: 10px;
  margin-right: 10px;
}
.caja2 {
  display: flex;
  position: absolute;
  margin-top: -917px;
  margin-left: 270px;
  height: 540px;
  width: 725px;
}
.fotos {
  display: flex;
  width: 760px;
  height: 500px;
}
.slider-box {
  width: 950px;
  height: 538px;
  margin: 0px auto 0;
  overflow: hidden;
}
.slider-box ul {
  display: flex;
  padding: 0;
  width: 599%;
  animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}
.slider-box img {
  width: 100%;
}
@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
